[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/freetype/freetype.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "deps/libsndfile"]
	path = deps/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/pybind/pybind11.git
