bin 
build   
include/ft2build.h  
include/freetype  
include/glad  
include/GLFW  
include/glm  
include/KHR  
include/stb  
include/AL
include/snd
.vs
.gitignore  
lib
CMakeSettings.json  
.vscode  
.idea 
cmake-build-debug
